.container {
  min-height: 100vh;
  padding: 120px 40px;
}

.grid {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  justify-items: center;
}

@media (max-width: 480px) {
  .container {
    padding: 100px 16px 60px 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: start;
    margin-left: 0;
  }
}