.eventpage_container {
  min-height: 100vh;
  padding: 80px 40px;
}

.eventpage_grid {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  justify-items: center;
}

@media (max-width: 480px) {
  .eventpage_container {
    padding: 100px 16px 60px 10px; 
  }

  .eventpage_grid {
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: start; 
    margin-left: 0;
  }
}